/* STYLE SHEET FOR THE UNIT TABLE */

h1 {
    color: navy;
    text-align: center;
}

.month {
    background-color: rgb(240, 240, 125);
}

.title {
    background-color: rgb(68, 193, 252);
}

.grade {
    background-color: rgb(218, 79, 79);
}

.subject{
    background-color: rgb(67, 235, 67);
}

table, td, th {
    border: 1px solid black;
}