/* STYLE SHEET FOR THE UNIT TABLE */

h1 {
    color: navy;
    text-align: center;
}

.month {
    background-color: rgb(240, 240, 125);
}

.title {
    background-color: rgb(68, 193, 252);
    text-align: center;
}

.grade {
    background-color: rgb(218, 79, 79);
        text-align: center;
}

.subject{
    background-color: rgb(67, 235, 67);
    text-align: center;
}

.objective {
    background-color: rgb(206, 139, 16);
}

.standard {
    background-color: rgb(180, 81, 180);
}

.material {
    background-color: rgb(12, 161, 180);
}

.term {
    background-color: rgb(253, 246, 142);
}

.knowledge {
    background-color: rgb(35, 216, 171);
    text-align: center;
}

.project {
    background-color: rgb(231, 86, 50);
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}